#landing-input {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#entry-card {
  min-width: 350px;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20vh;
  background-color: #1f1e24fa; /* Set the background color to dark gray */
}

