/* body {
  background-color: #f5f5f5 !important;
  font-family: "Roboto", sans-serif !important;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.shadow-lg {
  background-color: white !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(126, 13, 255, 0.897) !important;
  padding: 25px !important;
  width: 500px !important;
  margin: 50px auto !important;
}

h2 {
  text-align: center !important;
  margin-bottom: 30px !important;
}

.form-group {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 20px !important;
}

label {
  margin-bottom: 5px !important;
  font-weight: bold !important;
}

input,
select {
  padding: 8px !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 5px !important;
  outline: none !important;
  font-size: 14px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* .btn {
  width: 100% !important;
  background-color: #525252 !important;
  color: white !important;
  padding: 15px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 18px !important;
}

.btn:hover {
  background-color: #000000 !important;
} */

/* .card-container {
margin-top: 75px;
}

.card-body {

  margin: auto !important;
} */ 

.card {
  position:inherit!important;
}