#about-body {
    width: 90%;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 75px;
    font-family: 'Italiana', serif;
}

/* #about-background {
    box-shadow: 5px 5px 3px dodgerblue;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFC107, #fcecbb);
} */

h4 {
    font-family: 'Roboto', serif;
    color: rgba(245, 245, 245, 0.637);
}

h1 {
    font-family: 'Italiana', serif;
    color: rgba(245, 245, 245, 0.637);
    font-size: 2rem;
}